<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gr.geias.repository.ResumeRepository">

    <select id="findByUserId" resultType="com.gr.geias.model.Resume">
        select
            resume_id,
            user_id,
            resume_name,
            is_default,
            create_time,
            update_time
        from tb_resume
        where user_id = #{userId}
    </select>
    
    <select id="findByResumeId" resultType="com.gr.geias.model.Resume">
        select
            resume_id,
            user_id,
            resume_name,
            is_default,
            create_time,
            update_time
        from tb_resume
        where resume_id = #{resumeId}
    </select>
    
    <select id="findDefaultResumeByUserId" resultType="com.gr.geias.model.Resume">
        select
            resume_id,
            user_id,
            resume_name,
            is_default,
            create_time,
            update_time
        from tb_resume
        where user_id = #{userId} and is_default = 1
        limit 1
    </select>
    
    <insert id="save" parameterType="com.gr.geias.model.Resume" useGeneratedKeys="true" keyProperty="resumeId">
        insert into tb_resume (
            user_id,
            resume_name,
            is_default,
            create_time,
            update_time
        ) values (
            #{userId},
            #{resumeName},
            #{isDefault},
            #{createTime},
            #{updateTime}
        )
    </insert>
    
    <update id="update" parameterType="com.gr.geias.model.Resume">
        update tb_resume
        <set>
            <if test="resumeName != null">resume_name = #{resumeName},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            update_time = #{updateTime}
        </set>
        where resume_id = #{resumeId}
    </update>
    
    <update id="resetDefaultResumes">
        update tb_resume
        set is_default = 0
        where user_id = #{userId}
    </update>
    
    <delete id="delete">
        delete from tb_resume
        where resume_id = #{resumeId}
    </delete>
    
</mapper> 